/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		page-break-inside: auto;
		page-break-before: avoid;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		column-break-inside: avoid;
		page-break-after: avoid;
	}

	mcTableBodyStyle
	{
		
	}
}

@media pdf
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		font-size: 9pt;
	}
}

mcTableStyle
{
	name: SmartSpaceTable;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #585858;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #585858;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #585858;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	max-id: 8;
	border-top-left-radius: 5px;
	overflow: hidden;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-top: 12pt;
	margin-bottom: 12pt;
	margin-left: 6pt;
	margin-right: 6pt;
	widows: 4;
	orphans: 4;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #585858;
	name: Column1;
	id: 0;
	type: Automatic;
	cell-content-style-tag: none;
}

mcTableColumnStyle
{
	span: 1;
	id: 6;
	name: Column3;
	type: Manual;
}

mcTableColumnStyle
{
	span: 2;
	id: 5;
	name: Column2;
	type: Manual;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #585858;
	name: Header1;
	id: 2;
	background-color: #053b79;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	cell-padding-top: 6px;
	cell-padding-bottom: 6px;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-content-style-tag: none;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: subheading;
	type: Manual;
	font-weight: bold;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 6px;
	cell-padding-bottom: 6px;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #585858;
	background-color: #c0c0c0;
	cell-content-style-tag: none;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #585858;
	name: Body1;
	id: 1;
	cell-padding-top: 6px;
	cell-padding-bottom: 6px;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	vertical-align: top;
	page-break-inside: avoid;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-SmartSpaceTable
	{
		page-break-before: avoid;
		page-break-inside: auto;
		border-spacing: 0px 0px;
	}

	.TableStyle-SmartSpaceTable-Body-subheading
	{
		page-break-after: avoid;
		column-break-inside: avoid;
	}
}

@media pdf
{
	.TableStyle-SmartSpaceTable
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-SmartSpaceTable-BodyI-Column1-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyI-Column1-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyE-Column1-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyE-Column1-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyF-Column1-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyF-Column1-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyH-Column1-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyH-Column1-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyD-Column1-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyD-Column1-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyC-Column1-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyC-Column1-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyB-Column1-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyB-Column1-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyA-Column1-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyA-Column1-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyG-Column1-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyG-Column1-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyI-Column3-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyI-Column3-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyE-Column3-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyE-Column3-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyF-Column3-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyF-Column3-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyH-Column3-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyH-Column3-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyD-Column3-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyD-Column3-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyC-Column3-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyC-Column3-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyB-Column3-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyB-Column3-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyA-Column3-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyA-Column3-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyG-Column3-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyG-Column3-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyI-Column2-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyI-Column2-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyE-Column2-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyE-Column2-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyF-Column2-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyF-Column2-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyH-Column2-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyH-Column2-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyD-Column2-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyD-Column2-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyC-Column2-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyC-Column2-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyB-Column2-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyB-Column2-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyA-Column2-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyA-Column2-Body1 p
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyG-Column2-Body1
	{
		font-size: 9pt;
	}

	.TableStyle-SmartSpaceTable-BodyG-Column2-Body1 p
	{
		font-size: 9pt;
	}
}

.TableStyle-SmartSpaceTable
{
	border-collapse: separate;
	overflow: hidden;
	border-left-style: solid;
	border-left-color: #585858;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #585858;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #585858;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #585858;
	border-bottom-width: 1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-left: 6pt;
	margin-right: 6pt;
	margin-top: 12pt;
	margin-bottom: 12pt;
	widows: 4;
	orphans: 4;
	border-spacing: 0px 0px;
}

.TableStyle-SmartSpaceTable-Column-Column1
{
	
}

.TableStyle-SmartSpaceTable-Column-Column3
{
	
}

.TableStyle-SmartSpaceTable-Column-Column2
{
	
}

.TableStyle-SmartSpaceTable-Head-Header1
{
	
}

.TableStyle-SmartSpaceTable-HeadI-Column1-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #585858;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadF-Column1-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #585858;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadD-Column1-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadC-Column1-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #585858;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadA-Column1-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadG-Column1-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadI-Column3-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-HeadI-Column3-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadE-Column3-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-HeadE-Column3-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadF-Column3-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-HeadF-Column3-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadH-Column3-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-HeadH-Column3-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadD-Column3-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-HeadD-Column3-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadC-Column3-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-HeadC-Column3-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadB-Column3-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-HeadB-Column3-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadA-Column3-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-HeadA-Column3-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadG-Column3-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-HeadG-Column3-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadI-Column2-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-HeadI-Column2-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadE-Column2-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-HeadE-Column2-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadF-Column2-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-HeadF-Column2-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadH-Column2-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-HeadH-Column2-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadD-Column2-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-HeadD-Column2-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadC-Column2-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-HeadC-Column2-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadB-Column2-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-HeadB-Column2-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadA-Column2-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-HeadA-Column2-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-HeadG-Column2-Header1
{
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	background-color: #053b79;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-HeadG-Column2-Header1 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-FootI-Column1-
{
	
}

.TableStyle-SmartSpaceTable-FootI-Column1- p
{
	
}

.TableStyle-SmartSpaceTable-FootE-Column1-
{
	border-right-width: 1px;
	border-right-color: #585858;
	border-right-style: solid;
}

.TableStyle-SmartSpaceTable-FootE-Column1- p
{
	
}

.TableStyle-SmartSpaceTable-FootF-Column1-
{
	
}

.TableStyle-SmartSpaceTable-FootF-Column1- p
{
	
}

.TableStyle-SmartSpaceTable-FootH-Column1-
{
	border-right-width: 1px;
	border-right-color: #585858;
	border-right-style: solid;
}

.TableStyle-SmartSpaceTable-FootH-Column1- p
{
	
}

.TableStyle-SmartSpaceTable-FootD-Column1-
{
	
}

.TableStyle-SmartSpaceTable-FootD-Column1- p
{
	
}

.TableStyle-SmartSpaceTable-FootC-Column1-
{
	
}

.TableStyle-SmartSpaceTable-FootC-Column1- p
{
	
}

.TableStyle-SmartSpaceTable-FootB-Column1-
{
	border-right-width: 1px;
	border-right-color: #585858;
	border-right-style: solid;
}

.TableStyle-SmartSpaceTable-FootB-Column1- p
{
	
}

.TableStyle-SmartSpaceTable-FootA-Column1-
{
	
}

.TableStyle-SmartSpaceTable-FootA-Column1- p
{
	
}

.TableStyle-SmartSpaceTable-FootG-Column1-
{
	
}

.TableStyle-SmartSpaceTable-FootG-Column1- p
{
	
}

.TableStyle-SmartSpaceTable-FootI-Column3-
{
	
}

.TableStyle-SmartSpaceTable-FootI-Column3- p
{
	
}

.TableStyle-SmartSpaceTable-FootE-Column3-
{
	
}

.TableStyle-SmartSpaceTable-FootE-Column3- p
{
	
}

.TableStyle-SmartSpaceTable-FootF-Column3-
{
	
}

.TableStyle-SmartSpaceTable-FootF-Column3- p
{
	
}

.TableStyle-SmartSpaceTable-FootH-Column3-
{
	
}

.TableStyle-SmartSpaceTable-FootH-Column3- p
{
	
}

.TableStyle-SmartSpaceTable-FootD-Column3-
{
	
}

.TableStyle-SmartSpaceTable-FootD-Column3- p
{
	
}

.TableStyle-SmartSpaceTable-FootC-Column3-
{
	
}

.TableStyle-SmartSpaceTable-FootC-Column3- p
{
	
}

.TableStyle-SmartSpaceTable-FootB-Column3-
{
	
}

.TableStyle-SmartSpaceTable-FootB-Column3- p
{
	
}

.TableStyle-SmartSpaceTable-FootA-Column3-
{
	
}

.TableStyle-SmartSpaceTable-FootA-Column3- p
{
	
}

.TableStyle-SmartSpaceTable-FootG-Column3-
{
	
}

.TableStyle-SmartSpaceTable-FootG-Column3- p
{
	
}

.TableStyle-SmartSpaceTable-FootI-Column2-
{
	
}

.TableStyle-SmartSpaceTable-FootI-Column2- p
{
	
}

.TableStyle-SmartSpaceTable-FootE-Column2-
{
	
}

.TableStyle-SmartSpaceTable-FootE-Column2- p
{
	
}

.TableStyle-SmartSpaceTable-FootF-Column2-
{
	
}

.TableStyle-SmartSpaceTable-FootF-Column2- p
{
	
}

.TableStyle-SmartSpaceTable-FootH-Column2-
{
	
}

.TableStyle-SmartSpaceTable-FootH-Column2- p
{
	
}

.TableStyle-SmartSpaceTable-FootD-Column2-
{
	
}

.TableStyle-SmartSpaceTable-FootD-Column2- p
{
	
}

.TableStyle-SmartSpaceTable-FootC-Column2-
{
	
}

.TableStyle-SmartSpaceTable-FootC-Column2- p
{
	
}

.TableStyle-SmartSpaceTable-FootB-Column2-
{
	
}

.TableStyle-SmartSpaceTable-FootB-Column2- p
{
	
}

.TableStyle-SmartSpaceTable-FootA-Column2-
{
	
}

.TableStyle-SmartSpaceTable-FootA-Column2- p
{
	
}

.TableStyle-SmartSpaceTable-FootG-Column2-
{
	
}

.TableStyle-SmartSpaceTable-FootG-Column2- p
{
	
}

.TableStyle-SmartSpaceTable-Body-subheading
{
	
}

.TableStyle-SmartSpaceTable-BodyI-Column1-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyI-Column1-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyE-Column1-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #585858;
	border-right-style: solid;
}

.TableStyle-SmartSpaceTable-BodyE-Column1-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyF-Column1-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-BodyF-Column1-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyH-Column1-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #585858;
	border-right-style: solid;
}

.TableStyle-SmartSpaceTable-BodyH-Column1-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyD-Column1-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-BodyD-Column1-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyC-Column1-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyC-Column1-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyB-Column1-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #585858;
	border-right-style: solid;
}

.TableStyle-SmartSpaceTable-BodyB-Column1-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyA-Column1-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyA-Column1-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyG-Column1-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyG-Column1-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyI-Column3-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyI-Column3-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyE-Column3-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-BodyE-Column3-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyF-Column3-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-BodyF-Column3-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyH-Column3-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyH-Column3-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyD-Column3-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-BodyD-Column3-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyC-Column3-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyC-Column3-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyB-Column3-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyB-Column3-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyA-Column3-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyA-Column3-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyG-Column3-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyG-Column3-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyI-Column2-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyI-Column2-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyE-Column2-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-BodyE-Column2-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyF-Column2-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-BodyF-Column2-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyH-Column2-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyH-Column2-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyD-Column2-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-BodyD-Column2-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyC-Column2-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyC-Column2-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyB-Column2-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyB-Column2-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyA-Column2-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyA-Column2-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-BodyG-Column2-subheading
{
	font-weight: bold;
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyG-Column2-subheading p
{
	font-weight: bold;
}

.TableStyle-SmartSpaceTable-Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-SmartSpaceTable-BodyI-Column1-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyI-Column1-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyE-Column1-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #585858;
	border-right-style: solid;
}

.TableStyle-SmartSpaceTable-BodyE-Column1-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyF-Column1-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-BodyF-Column1-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyH-Column1-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #585858;
	border-right-style: solid;
}

.TableStyle-SmartSpaceTable-BodyH-Column1-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyD-Column1-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-BodyD-Column1-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyC-Column1-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyC-Column1-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyB-Column1-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #585858;
	border-right-style: solid;
}

.TableStyle-SmartSpaceTable-BodyB-Column1-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyA-Column1-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyA-Column1-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyG-Column1-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyG-Column1-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyI-Column3-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyI-Column3-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyE-Column3-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-BodyE-Column3-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyF-Column3-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-BodyF-Column3-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyH-Column3-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyH-Column3-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyD-Column3-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-BodyD-Column3-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyC-Column3-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyC-Column3-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyB-Column3-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyB-Column3-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyA-Column3-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyA-Column3-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyG-Column3-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyG-Column3-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyI-Column2-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyI-Column2-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyE-Column2-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-BodyE-Column2-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyF-Column2-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-BodyF-Column2-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyH-Column2-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyH-Column2-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyD-Column2-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #585858;
	border-bottom-style: solid;
}

.TableStyle-SmartSpaceTable-BodyD-Column2-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyC-Column2-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyC-Column2-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyB-Column2-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyB-Column2-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyA-Column2-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyA-Column2-Body1 p
{
	
}

.TableStyle-SmartSpaceTable-BodyG-Column2-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SmartSpaceTable-BodyG-Column2-Body1 p
{
	
}


